/**/
body, p, button, a, h1, h2, h3, h4, h5, div {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /*background: linear-gradient(90deg, rgb(100 0 193) 30%, rgb(40 136 255) 100%);*/
    background-color: #084461;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 10px 25px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
  }

.chart-container {
    display:none;
    background-color:white;
    width:70%;
    margin:0 auto;
}

.entire-container { 
    padding: 20px 0px;
    margin: 0;
    text-align: center;
}

#ajaxField {
    padding: 0px 0px 30px 0px;
}

#ajaxCallBtn {
    padding: 10px 20px;
    color: white;
    background-color: #2196f3;
    box-shadow: 0px 0px 2px 0px black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

#ajaxCallBtn:hover {
    background-color: #0073ce;
    box-shadow: 0px 0px 5px 0px black;
    padding: 13px 25px;
}

.insertData {
    display:none;
}

.placeholder {
    margin:0 auto;
    padding: 20px 0px;
}

.loading-info {
    color:green;
    font-weight:bold;
}

.DOGE, .SHIB{  
    display:inline-block;
}

/*
.cryptoDOGERow {
    background: rgb(96,72,0);
    background: linear-gradient(90deg, rgba(96,72,0,1) 15%, rgba(203,152,0,1) 50%);
}

.cryptoSHIBRow {
    background: rgb(143,45,0);
    background: linear-gradient(90deg, rgba(143,45,0,1) 15%, rgba(225,101,44,1) 50%);
}

.cryptoSAFEMOONRow {
    background: rgb(100,0,193);
    background: linear-gradient(90deg, rgba(100,0,193,1) 0%, rgba(0,69,186,1) 100%);    
}
*/

.cryptoTable {
    width: 70%;
    margin:0 auto;
    background-color:white;
    box-shadow: 0px 0px 4px 1px black;
}

.cryptoTable h3 {
    font-size: 20px;
    margin: 0 auto;
    padding: 15px 20px;
    background-color: #2196f3;
    color: white;
}

.total, .latestAjaxCall {
    margin: 0 auto;
    padding: 10px 0px;
    font-size: 16px;
    display: none;
    color:white;
    background-color:#002644;
}

.total p {
    margin:0 auto;
    display: inline-block;
}

.space {
    padding: 15px 0px;
}

#timestamp {
    margin:0 auto;
}

.cryptoGraphBtn {
    color:blue;
    text-decoration: none;
}

.cryptoGraphBtn:hover {
    text-decoration: underline;
}

#copyright {
    padding:10px 0px 30px 0px;
    margin:0 auto;
    color:white;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}